---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { client, blogPostsAllQuery } from "@lib/sanity";

export async function getStaticPaths() {
  const allPosts = await client.fetch(blogPostsAllQuery);
  const posts = allPosts.filter((post) => !post.draft);
  const tags = [...new Set(posts.flatMap((post) => post.tags || []))];
  return tags.map((tag) => ({
    params: { id: tag },
    props: { tag },
  }));
}

const { id } = Astro.params;
const { tag } = Astro.props;

const allPosts = await client.fetch(blogPostsAllQuery);
const posts = allPosts
  .filter((post) => !post.draft && post.tags?.includes(tag))
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<Layout title={`Tag: ${id}`} description={`Posts with the tag: ${id}`}>
  <Container>
    <div class="space-y-10" data-pagefind-ignore>
      <BackToPrevious href="/tags"> All tags </BackToPrevious>
      <h1 class="animate font-semibold text-black dark:text-white">
        Posts tagged with "{id}"
      </h1>
      <ul class="animate flex flex-col gap-4">
        {posts.map((post) => <ArrowCard entry={post} collection="blog" />)}
      </ul>
    </div>
  </Container>
</Layout>
