---
import { getPayloadCollection } from "@lib/payload";

const allPosts = await getPayloadCollection("blog");
const allTags = allPosts.map((tag) => tag.data.tags).flat();

console.log(allTags);
---

<span> </span>
